{% load static %}
<!DOCTYPE html>
<html lang='es'>

    <title>
        {% block nombrePagina %}{% endblock %}
    </title>
    <head>
        <meta charset='utf-8'>
        {% load bootstrap4 %}
        {% bootstrap_css%}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <style>
            {% block estilos%}{% endblock  %}

        </style>        
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
            <img src="/media/gd-header.png" alt="GameDock logo" height="65">
            <a class="navbar-brand" href="/">GameDock
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/producto/1">Juegos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/producto/2">Consolas</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/producto/3">Periféricos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link pr-5" href="/pedidos">Pedidos</a>
                      </li>
                    <li class="px-5 pt-1">
                        <form method="get">
                          <input type="text" placeholder="Search..." name="busqueda">
                          <button type="submit" class="btn btn-outline-dark bg-primary pt-2">Ok</button>
                        </form>
                      </li>
                    {% if not user.is_authenticated %}
                        <li class="nav-item ml-auto">
                            <a class="nav-link pl-5" href="/login">Inicia Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Registrarse</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Cerrar Sesión</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li>    
                            <form action="/admin">
                                <input type="submit" value="Gestión de administración"/>
                            </form>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div>
            <a href="#" class"btn btn-success"></a>
        </div>
        <div class="container py-3 bg-light">
        <div class="row">
            <div class="col-9">
            {% block contenido %}{% endblock %}
            </div>
            
            <div class="col-3 p-3 mb-5 rounded bg-light">
                <table class="table table-bordered h-auto bg-white">
                <thead>
                <tr>
                    <th scope="row" colspan="3" class="textcenter">Carrito</th>
                </tr>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                </tr>
                </thead>
                <tbody>
                    {% if request.session.carrito.items %}
                    {% for key, value in request.session.carrito.items %}
                    <tr>
                        <td>{{value.nombre}}</td>
                        <td>{{value.precio}}</td>
                        <td>{{value.cantidad}}
                            <a href="{% url 'Add' value.id_producto %}" class="badge btn-dark badge-dark">+</a>
                            <a href="{% url 'Dec' value.id_producto %}"  class="badge btn-dark badge-dark">-</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">
                            <div class="alert text-center">El carrito esta vacio</div>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>

                    </tr>

                </tbody>
        
                </table>
                <div class="justify-content-around px-3">
                    <h5 class="row" colspan="3">Total: {{total_carrito}} €</h5>
                    <div class="row"><a href="{% url 'Clear' %}" class="btn btn-primary btn-block border">Limpiar</a></div>
                    <div class="row"><a href="{% url 'Init_Process' %}" class="btn btn-primary btn-block border">Procesar pedido</a></div>
                </div>
            </div>


        </div>

        </div>
    
    </body>
    <footer class="w-100 py-4 bg-dark flex-shrink-0">
        <div class="container py-3">
            <div class="row  align-items-center">
                <div class="col-5 pl-5">
                <p class=' text-primary'>
                    <a href="/">Inicio</a>
                    <br>
                    <a href="/tratamiento_datos">Tratamiento de datos</a>
                    <br>
                    <a href="/politica_envio">Política de envío</a>
                </p>
            </div>
            <div class="col-7">
                <img src="/media/gd-footer.png" alt="GameDock logo" height="110">
            </div>
            </div>
        </div>
    </footer>


</html>