{% extends 'base.html' %}

{% block nombrePagina %}
    GameDock
{%endblock%}

{% block estilos%}
{% endblock  %}


{% block contenido %}
{% comment %} falta un if q segun el tipo devuelva productos de tipo 1, 2 o 3 {% endcomment %}

    {% for producto in productos%}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="{{MEDIA_URL}}{{producto.imagen}}" class="card-img-top" alt="product_image">
                    <div class="card-body">
                        <h5 class = "card-title">{{producto.nombre}}</h5>
                        <p class = "card-text">Precio: {{producto.precio}}€</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock  %}