{% extends 'base.html' %}

{% block nombrePagina %}
    GameDock
{%endblock%}

{% block estilos%}
    a {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }
{% endblock  %}


{% block contenido %}
    
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for producto in productos%}
            <div class="col">
                <div class="card h-100">
                    <a href = "products/product/{{producto.id}}"><img src="{{MEDIA_URL}}{{producto.imagen}}" class="card-img-top" alt="product_image"></a>
                    <div class="card-body">
                        <h5 class = "card-title"><a href = "products/product/{{producto.id}}">{{producto.nombre}}</a></h5>
                        <p class = "card-text">Precio: {{producto.precio}}€</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock  %}