<!DOCTYPE html>
<html lang='es'>
    <title>Inicio Sesión</title>
    <head>
        <meta charset='utf-8'>
        <style type="text/css">
            .abs-center {
                padding-top: 100px;
                display: flex;
                justify-content: center;
                min-height: 100vh;
              }
              
            .form {
                width: 450px;
            }
        </style>            
        {% load bootstrap4 %}
        {% load crispy_forms_tags %}
        {% bootstrap_css %}
    </head>
    <body>
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <p> {{message}} </p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="abs-center">
            <form class="form" method="POST" action=''>
                {% csrf_token %}
                <table>{{formulario|crispy}}</table>
                <button type="submit" class='btn btn-primary'>Iniciar Sesión</button>
            </form>
        </div>
        <div>
            No registrado:
            <a href="/register">Registrate aqui</a>
        </div>
    </body>
</html>