
{% extends 'base.html' %}

{% block contenido %}
    <h1>Política de Envío</h1>
    <h3>Información sobre el estado del pedido</h3>
    <p>Game Docker S.L.U. se compromete a facilitar la información del estado del pedido de cualquier cliente cuando
        él lo solicite, para saber si el pedido se encuentra ya enviado o bien si todavía sigue en Tienda.
        Toda esta información se encontrará siempre dentro de la web. No obstante Game Dock no se hace cargo si el cliente
        pierde su ID de seguimiento del pedido puesto es necesario para facilitar la información del pedido y corrobar que
        es la misma persona que solicito el pedido la que solicita los datos.
    </p>
    <h3>Problemas en la entrega</h3>
    <p>Si el producto llega en condiciones defectuosas o bien no se ha entregado, Game Dock se compromete a reembolsar
        el precio integro del pedido, siempre se demuenstre que en efecto el producto ha llegado en esas condiciones
    </p>
    <h3>Cambios y devoluciones</h3>
    <p>
        Se dispone de un plazo de una semana desde la entrega para devolver un producto si no se está satisfecho con él.
        No obstante, el producto ha de ser devuelto en las mismas condiciones que se envio, cualquier daño o indicio de
        uso del producto no se adminitirá para devolución y será devuelto al comprador.
    </p>
    <h3>Envios internacionales</h3>
    <p>
        Game Dock S.L.U sólo entrega a España (tanto continental como Islas Canarias, Islas Baleares, Ceuta y Melilla)
        no se tramitarán pedidos a territorios ajenos al territorio español. Si por se detecta que un pedido no pertenece
        al territorio mencionado previamente se hará un reembolso integro del pedido.
    </p>
{% endblock contenido %}
