{% extends 'base.html' %}

{% block contenido %}
    <div id='imagen_detalle'>
        <img src="{{MEDIA_URL}}{{producto.imagen}}">
    </div>
    <div id='nombre'>
        <h2>Nombre</h2>
        <p>{{producto.nombre}}</p>
    </div>
    <div id='descripcion'>
        <h2>Descripcion</h2>
        <p>{{producto.descripcion}}</p>
    </div> 
    <div id='precio'>
        <h2>Precio</h2>
        <p>{{producto.precio}}</p>
    </div> 
{% comment %} Hay que hacer el if para comprobar si hay stock {% endcomment %}
    <div id='stock'>
        <h2>Stock</h2>
        <p>{{producto.stock}}</p>
    </div>
    <div id='tipo'>
        <h2>Tipo</h2>
        <p>{{producto.tipo}}</p>
    </div>
    <div>

    </div>
{% endblock %}