<!DOCTYPE html>
<html lang='es'>

<title>
  Tratamiento de datos
</title>

<head>
  <meta charset='utf-8'>
  {% load bootstrap5 %}
  {% bootstrap_css%}

  <style>
    {
      % block estilos%
    }

      {
      % endblock %
    }
  </style>
</head>

<body>

  <h1>Tratamiento de datos</h1>
  <hr>
  <h3>1era disposición</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos maxime dolorum, et beatae nulla dolor
    provident sunt quidem numquam voluptas itaque, sint minus incidunt quisquam labore! Consequatur, consequuntur nam!
  </p>

</body>

</html>