{% extends 'base.html' %}

{% block contenido %}
<h1>Tratamiento de datos</h1>
<hr>
<h3>Política de privacidad</h3>
<p>La Política de Privacidad es parte integrante de las Condiciones Generales de la relación contractual y del uso del
  servicio web entre Game Docker, S.L.U. (en adelante Game Docker) y el socio o cliente. El acceso o navegación en el
  Sitio Web, o el uso de los servicios del mismo, implican la aceptación de las Condiciones Generales y, por tanto, de
  la Política de Privacidad y la Política de Cookies. Por favor, léelas atentamente.

  En esta Política de Privacidad te informamos de:

<p>- ¿Quién es el responsable del tratamiento de tus datos?</p>
<p>- ¿Con qué finalidad tratamos tus datos?</p>
<p>- ¿Cuánto tiempo almacenamos tus datos?</p>
<p>- ¿Cuál es la legitimación para el tratamiento de tus datos personales?</p>
<p>- ¿Comunicamos tus datos personales a terceros?</p>
<p>- ¿Qué derechos tienes como cliente de Game Docker?</p>
<p>- ¿De dónde hemos obtenido tus datos?</p>
</p>
<h3>¿Quién es el responsable del tratamiento de tus datos?</h3>
<p>Todos los datos facilitados por los Usuarios, sean mediante la navegación por el Sitio Web, el cumplimiento de
  formularios o la firma del contrato de Socio, serán incorporados a nuestros ficheros y tratados a través de medios
  automatizados o no automatizados, siguiendo las normas establecidas por el Reglamento General Europeo de Protección
  de Datos (RGPD), así como la legislación española y las instrucciones de la Agencia Española de Protección de datos.

  Los datos del Responsable del Tratamiento son los siguientes:</p>
<p>Game Docker S.L.U. - CIF: B81234567</p>
<p>Avenida Reina Mercedes s/n, 41012 Sevilla (España)</p>

<p>Delegado de Protección de Datos:</p>
<p>Game Docker S.L.U.</p>
<p>Contacto DPO: dpo@Game Docker.es Tfno. 123 456 789</p>
<h3>¿Con qué finalidad tratamos tus datos?</h3>
<p>En Game Docker tratamos los datos necesarios para gestionar y optimizar nuestros servicios y relaciones comerciales
  de cara a nuestros socios y clientes. Además, también usamos esta información para enviar publicidad de interés a
  los usuarios, relacionada con nuestros productos, novedades, ofertas y promociones.

  Los datos se recogen con las siguientes finalidades:

  - Gestionar el registro en la Página Web.
  - Gestionar y tramitar las relaciones comerciales efectuadas por los clientes.
  - Realizar el envío de comunicaciones comerciales (boletín de noticias).
  - Responder a las solicitudes de información que nos envíen nuestros clientes.
  - Cumplir obligaciones legales.
  - Realizar análisis estadísticos.

  Con el fin de poder ofrecer productos y servicios de acuerdo con sus intereses, elaboramos perfiles comerciales en
  base a la información facilitada y las compras realizadas por nuestros clientes. No se tomarán decisiones
  automatizadas en base a dicho perfil.

  A efectos informativos, el “Boletín de noticias Game Docker puede incluir información sobre novedades, ofertas,
  promociones, productos relaciones y/o cualquier otro tipo de información comercial que pudiera ser de interés para
  el cliente.

  En cualquier caso, el usuario podrá darse de baja en cualquier momento, de manera fácil y gratuita a través del link
  proporcionado en los correos, la casilla de publicidad de la Zona de Socios, o bien mediante comunicación directa a
  la siguiente dirección de correo electrónico: dpo@Game Docker.es.

  Si, en su caso, quiere dejar de recibir notificaciones push a través de nuestra App, puede configurar esta opción en
  la sección de Ajustes de Privacidad de su teléfono móvil.</p>
<h3>¿Cuánto tiempo almacenamos tus datos?</h3>
<p>Los datos de carácter personal proporcionados por nuestros socios y clientes, serán conservados únicamente durante
  el tiempo necesario para la realización de las finalidades para la que fueron recogidos, siempre que se mantenga la
  relación comercial o contractual.

  Todos nuestros clientes podrán solicitar la supresión de sus datos de nuestros ficheros, conservándose los datos
  únicamente para atender posibles responsabilidades legales y por el plazo mínimo legalmente establecido.

  En el caso de los datos facilitados para la inscripción a las ofertas de empleo publicadas, serán conservado durante
  el plazo de un año desde la fecha de la última actualización. Transcurrido dicho periodo sin que hayan sido
  actualizados, los datos serán suprimidos, salvo indicación contraria del usuario.</p>
<h3>¿Cuál es la legitimación para el tratamiento de tus datos personales?</h3>
<p>La base legal para el tratamiento de los datos de socios y clientes por parte de Game Docker reside en el
  consentimiento expreso del interesado prestado al inicio de la relación contractual y/o comercial y, según los
  términos y condiciones que figuran en el contrato y en nuestra página web.

  La gestión de la contratación de productos o servicios, pago, facturación, garantías y envíos correspondientes, está
  legitimada por la propia ejecución del contrato.

  La oferta de productos y servicios a través de medios electrónicos está basada, en su caso, en el consentimiento
  expreso proporcionado por el socio o cliente, o mediante el interés legítimo derivado de la relación comercial. En
  ningún caso la retirada de este consentimiento condicionará la ejecución del contrato o la relación comercial con
  los clientes.

  Los menores de dieciséis años deberán contar con el consentimiento de sus padres o tutores legales para el
  tratamiento de sus datos personales.

  Adicionalmente, la legitimación para el tratamiento de sus datos en relación con la remisión de CVs e inscripciones
  en ofertas profesionales que podamos publicar, se basa en el consentimiento del usuario que remite los datos,
  pudiendo retirarlo en cualquier momento. La retirada del consentimiento no afectará a la licitud de los tratamientos
  efectuados con anterioridad en los procesos de selección.</p>
<h3>¿Comunicamos tus datos personales a terceros?</h3>
<p>La base legal para el tratamiento de los datos de socios y clientes por parte de Game Docker reside en el
  consentimiento expreso del interesado prestado al inicio de la relación contractual y/o comercial y, según los
  términos y condiciones que figuran en el contrato y en nuestra página web.

  La gestión de la contratación de productos o servicios, pago, facturación, garantías y envíos correspondientes, está
  legitimada por la propia ejecución del contrato.

  La oferta de productos y servicios a través de medios electrónicos está basada, en su caso, en el consentimiento
  expreso proporcionado por el socio o cliente, o mediante el interés legítimo derivado de la relación comercial. En
  ningún caso la retirada de este consentimiento condicionará la ejecución del contrato o la relación comercial con
  los clientes.

  Los menores de dieciséis años deberán contar con el consentimiento de sus padres o tutores legales para el
  tratamiento de sus datos personales.

  Adicionalmente, la legitimación para el tratamiento de sus datos en relación con la remisión de CVs e inscripciones
  en ofertas profesionales que podamos publicar, se basa en el consentimiento del usuario que remite los datos,
  pudiendo retirarlo en cualquier momento. La retirada del consentimiento no afectará a la licitud de los tratamientos
  efectuados con anterioridad en los procesos de selección.</p>
<h3>¿Qué derechos tienes como cliente de Game Docker?</h3>
<p>Con la nueva regulación, se han ampliado los derechos de los usuarios. Además de los ya existentes, se añaden
  nuevos derechos como la limitación del tratamiento y la portabilidad de los datos.

  Cualquier persona podrá ejercitar el derecho de acceso a sus datos personales, el derecho de rectificación para
  modificar aquellos datos desactualizados o inexactos y, en su caso, el derecho de cancelación cuando los datos ya no
  sean necesarios para la relación comercial o el usuario quiera dar de baja la relación contractual.

  En el caso del derecho de cancelación, oposición o limitación del tratamiento, los datos de nuestros clientes sólo
  serán conservados para poder atender reclamaciones judiciales.

  El usuario puede ejercer sus derechos en los términos establecidos en la legislación vigente. A tal efecto puede
  remitir escrito a Game Docker, S.L.U. con domicilio social en la Avenida Reina Mercedes s/n, 41012 Sevilla (España),
  con
  la indicación en el sobre "Protección datos Game Docker" o con el mismo asunto a la dirección de correo electrónico
  dpo@Game Docker.es.

  Para el ejercicio del derecho de cancelación o baja de socio, el usuario deberá completar el formulario "Baja Socio"
  habilitado en el apartado de Contratos de la Web y enviarlo, junto a una fotocopia de su DNI, a la dirección de
  correo electrónico dpo@Game Docker.es o bien presencialmente en alguna de nuestras Tiendas Game Docker
</p>
<h3>¿De dónde hemos obtenido tus datos?</h3>
<p>Los datos personales que tratamos en Game Docker proceden de los socios y clientes que, voluntariamente, han
  establecido relaciones comerciales y/o contractuales con nuestra empresa.

  Las categorías de datos que se tratan para personas socias de Game Docker son: nombre, apellidos, fecha de
  nacimiento, documento nacional de identidad/tarjeta de residencia, domicilio, imagen, número de tarjetas
  (tokenizadas), teléfono, correo electrónico, nombre y apellidos de personas autorizadas (incluyendo, en su caso,
  datos de menores de edad con el consentimiento de su tutor/a legal), información comercial.

  Las categorías de datos que se tratan para clientes Web son: nombre, apellidos, fecha de nacimiento, documento
  nacional de identidad/tarjeta de residencia, domicilio, número de tarjetas (tokenizadas), teléfono, correo
  electrónico, información comercial.

  El Usuario responderá, en cualquier caso, de la veracidad de los datos facilitados, reservándose Game Docker el
  derecho a excluir de los servicios registrados a todo Usuario que haya facilitado datos falsos, así como por el
  resto de circunstancias recogidas al respecto en el presente aviso legal, sin perjuicio de las demás acciones que
  procedan en Derecho.
</p>

{% endblock %}